{% extends 'layout.html' %}

{% block mycontent%}
 <div class="col-sm-12">
        <h1><b>ICT ACADEMY</b></h1>
 </div><hr>
 <div class="col-sm-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque quod quidem impedit autem unde blanditiis officia porro non earum? Eos ut dolorem commodi accusamus earum ipsam beatae magnam quasi.lorem
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde maxime quis optio nobis, pariatur et, officia natus dolorum magni laudantium beatae minus inventore nemo ut laborum voluptatum eaque labore fuga?
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quo quaerat, minus corrupti suscipit officia veritatis laborum deleniti ut dolores beatae! Quod saepe, soluta natus quae iure iusto aliquam deleniti?
 </div>
 

{% endblock %}
