{% extends 'layout.html' %}

{% block mycontent%}
<div class="col-sm-12">
        <h1><b>ICT ACADEMY CALICUT</b></h1>
 </div><hr>
 <div class="row">
        <div class="col-sm-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem blanditiis dolorem aliquam accusantium rerum fugiat, perspiciatis voluptatibus ex exercitationem iusto porro at molestiae assumenda ut distinctio maiores saepe tempora numquam!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam cumque labore facere sed rem ipsam nisi sapiente quia quidem dolor optio voluptate non, iste in pariatur aliquid minus odio doloremque.
           </div>
           
           <div class="col-sm-4">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae nobis veniam saepe qui temporibus optio deleniti adipisci voluptates aperiam tempora iste provident consequatur, voluptatem fugiat soluta dolor sint natus.
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati at perferendis ex natus, sint, quidem harum quis maiores mollitia fuga non esse est commodi repudiandae vel accusamus aut necessitatibus optio.
           </div>

           <div class="col-sm-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae nobis veniam saepe qui temporibus optio deleniti adipisci voluptates aperiam tempora iste provident consequatur, voluptatem fugiat soluta dolor sint natus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati at perferendis ex natus, sint, quidem harum quis maiores mollitia fuga non esse est commodi repudiandae vel accusamus aut necessitatibus optio.
        </div>
 </div><hr>
 
 
{% endblock %}

